{% extends './base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}
{% block scripts %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock scripts %}
{% block title %}
Galería
{% endblock title %}
{% block titleHeader %}
<span class="title-header">
    GALERIA
</span>
{% endblock titleHeader %}
{% block body %}
<div class="container container-galeria">
    <div class="row justify-content-center">
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_1.png' %}" class="img-fluid" alt="Imagen 1">
      </div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_2.png' %}" class="img-fluid" alt="Imagen 2">
      </div>
      <div class="col-xxl-12"></div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_3.png' %}" class="img-fluid" alt="Imagen 3">
      </div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_4.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-xxl-12"></div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_5.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_6.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-xxl-12"></div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_7.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_8.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-xxl-12"></div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_9.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_10.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-xxl-12"></div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_11.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_12.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-xxl-12"></div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_13.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_14.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-xxl-12"></div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_15.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_16.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-xxl-12"></div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_17.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_18.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
      <div class="col-xxl-12"></div>
      <div class="mb-5 col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
        <img src="{% static 'media/galeria/4_19.png' %}" class="img-fluid" alt="Imagen 4">
      </div>
    </div>
</div>  
{% endblock body %}
