{% extends './base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}
{% block scripts %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock scripts %}
{% block title %}
Proyectos
{% endblock title %}
{% block titleHeader %}
<span class="title-header">
    PROYECTOS
</span>
{% endblock titleHeader %}
{% block body %}
<div class="proyectos">    
    <div class="title-proyecto row justify-content-center ">
        <div class="col-9">
            <img class="pre-menu1" src="{% static 'media/1_pre.png' %}" alt="#">
            <span>Portada del libro de neuromante</span>
        </div>
    </div>
    <div class="container container-galeria">        
        <div class="row justify-content-center">
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/libro/4.png' %}" class="img-fluid" alt="Imagen 1">
          </div>
          <div class="col-12"></div>
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/libro/3.png' %}" class="img-fluid" alt="Imagen 2">
          </div>
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/libro/2.png' %}" class="img-fluid" alt="Imagen 3">
          </div>
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/libro/1.png' %}" class="img-fluid" alt="Imagen 4">
          </div>
          <div class="col-xxl-12"></div>
        </div>
    </div>
    <div class="title-proyecto row justify-content-center ">
        <div class="col-9">
            <img class="pre-menu1" src="{% static 'media/1_pre.png' %}" alt="#">
            <span>Sasbe "cerveza"</span>
        </div>
    </div>
    <div class="container container-galeria">        
        <div class="row justify-content-center">
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/cerveza/1.png' %}" class="img-fluid" alt="Imagen 1">
          </div>
          <div class="col-12"></div>
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/cerveza/3.jpg' %}" class="img-fluid" alt="Imagen 2">
          </div>
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/cerveza/2.jpg' %}" class="img-fluid" alt="Imagen 3">
          </div>
          <div class="col-xxl-12"></div>
        </div>
    </div>
    <div class="title-proyecto row justify-content-center ">
        <div class="col-9">
            <img class="pre-menu1" src="{% static 'media/1_pre.png' %}" alt="#">
            <span>Logos Marvel</span>
        </div>
    </div>
    <div class="container container-galeria">        
        <div class="row justify-content-center">
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/logos/1.jpg' %}" class="img-fluid" alt="Imagen 1">
          </div>
          <div class="col-12"></div>
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/logos/2.jpg' %}" class="img-fluid" alt="Imagen 2">
          </div>
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/logos/3.jpg' %}" class="img-fluid" alt="Imagen 3">
          </div>
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/logos/4.jpg' %}" class="img-fluid" alt="Imagen 4">
          </div>
          <div class="col-10 col-md-6 col-xl-5 col-xxl-4 d-flex justify-content-center align-items-center galeria">
            <img src="{% static 'media/logos/5.jpg' %}" class="img-fluid" alt="Imagen 4">
          </div>
          </div>
          <div class="col-xxl-12"></div>
        </div>
    </div>
    <div class="title-proyecto row justify-content-center ">
        <div class="col-9">
            <img class="pre-menu1" src="{% static 'media/1_pre.png' %}" alt="#">
            <span>Los colores de la montaña</span>
        </div>
    </div>
    <div class="end-proyecto container container-galeria">        
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-xl-7 col-xxl-6 d-flex justify-content-center align-items-center galeria">
                <img src="{% static 'media/montana/1.png' %}" class="img-fluid" alt="Imagen 1">
            </div>
            <div class="col-xxl-12"></div>
            <div class="col-10 col-md-8 col-xl-7 col-xxl-6 d-flex justify-content-center align-items-center galeria">
                <div class="video-wrapper p-3">
                    <video class="video-menu" src="{% static 'media/montana/video.mp4' %}" controls></video>
                </div>          
            </div>
        </div>
    </div>
</div>

{% endblock body %}
